<!DOCTYPE html>
<html lang="de">
  <!--Im HEAD werden allgemeine Einstellungen zur Website festgelegt.-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Der titel erscheint im Browser-TAB-->
  <title>N27 - About</title>
</head>
<!--im Body steht der Inhalt der Webseite, also alles was im Browser angezeigt wird.-->
<body>
  <!--Überschrif der Größe 1-->
    <h1>Über uns</h1>
    E-Mail: test@gmail.com<br/>
    Anschrift:<br/>
    Sitz:<br/>
    Bankleitzahl:1234567891<br/>
    Unternehmen: N27 Gmbh<br/>
    Support: +49 123456789<br/>
    Disclaimer:<br/>

</body>
</html>
