<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27</title>
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>Kontostand</h1>            
        </div>
        <div class="navigationsleiste">
            <div class="tooltip">
            <a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i> </a> 
            <span class="tooltiptext">Home</span>
        </div>
             -
            <div class="tooltip">
                <a href="/about"><i class="fa fa-info fa-2x" aria-hidden="true"></i> </a> 
                <span class="tooltiptext">Über uns</span>
            </div>
            
             - 
             <div class="tooltip">
                <a href="/profil"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a>
                <span class="tooltiptext">Konto</span>
            </div>
            
            
             - 
             <div class="tooltip">
                <a href="/support"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i> </a> 
                <span class="tooltiptext">Support</span>
            </div>

            -
             <div class="tooltip">
                <a href="/login"><i class="fa fa-sign-out fa-2x"></i></a>
                <span class="tooltiptext">Ausloggen</span>
            </div>   
        </div>
        <div class="inhaltsbereich">

            <label1  for="Iban">IBAN wählen:</label> <br>
                <select class="meldung1" id="iban" name="iban">
                    <!--Die for-Schleife sorgt dafür, dass das Dropdownmenü alle Konten zur Auswahl anzeigt.
                    Bei 5 Konten wird die schleife 5 mal zu durchlaufen
                    MeineIbans ist die Liste, die beim rendern an dem Browser übergeben wird.
                    Die Eigenschaft length gibt die Anzahl der Elemente in der Liste zurück.
                    Mit eckigen Klammer hinter MeineIbans kann ein einzelnes Element der Liste Ausgewählt werden.
                    Mit .iban wird die Eigenschaft Iban ausgelesen.-->
                  <% for (var i=0; i < MeineIbans.length ;i++){ %>
                    <option value="<%= MeineIbans [i].iban %>"> <%= MeineIbans [i].iban %> </option>
                  <% } %> 
                </select>

                <!--<button class="save" formaction="/kontostandAnzeigen" > Select</button>-->

            <label1 for="fname">Kontoart:</label><br>
                <input class="meldung1" readonly value=<%= MeineIbans [0].kontoart %> > <br>
            
            <label1 for="fname">Kontostand:</label><br>
                <input class="meldung1" type="number" readonly value=<%= MeineIbans [0].anfangssaldo %>  > <br>     
            
        </div>
        <div class="fusszeile">
            &copy; 2022 GW21A
        </div>
    </div>
</body>
</html>