<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27</title>
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>Kontobewegungen</h1>            
        </div>
        <div class="navigationsleiste">
            <div class="tooltip">
            <a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i> </a> 
            <span class="tooltiptext">Home</span>
        </div>
             -
            <div class="tooltip">
                <a href="/about"><i class="fa fa-info fa-2x" aria-hidden="true"></i> </a> 
                <span class="tooltiptext">Über uns</span>
            </div>
            
             - 
             <div class="tooltip">
                <a href="/profil"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a>
                <span class="tooltiptext">Konto</span>
            </div>
            
            
             - 
             <div class="tooltip">
                <a href="/support"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i> </a> 
                <span class="tooltiptext">Support</span>
            </div>

            -
             <div class="tooltip">
                <a href="/login"><i class="fa fa-sign-out fa-2x"></i></a>
                <span class="tooltiptext">Ausloggen</span>
            </div>   
        </div>
        <div class="inhaltsbereich">
            <form method="post">
                <label1  for="Iban">Konto-IBAN wählen:</label> <br>
                    <select class="meldung1" id="iban" name="iban">
                      <% for (var i=0; i < MeineIbans.length ;i++){ %>
                        <option value="<%= MeineIbans [i].iban %>"> <%= MeineIbans [i].iban %> </option>
                      <% } %> 
                    </select>
                <button class="save" formaction="/kontobewegung" > Konto anzeigen</button>  

                <label1  for="Iban">Bewegungen für das Konto:</label> <br>
                <input class="meldung1" readonly value=<%= IBAN %> > <br>

                <table>
                    <tr>
                      <th>Datum</th>
                      <th>Absender</th>
                      <th>Empfänger</th>
                      <th>Betrag</th>
                    </tr>
                    <tr>
                      <td>2023-08-01</td>
                      <td>Max Mustermann</td>
                      <td>Lisa Müller</td>
                      <td>150,00 €</td>
                    </tr>
                    <tr>
                      <td>2023-08-03</td>
                      <td>Lisa Müller</td>
                      <td>Paul Schmidt</td>
                      <td>50,00 €</td>
                    </tr>
                    <tr>
                      <td>2023-08-05</td>
                      <td>Anna Meier</td>
                      <td>Max Mustermann</td>
                      <td>75,00 €</td>
                    </tr>
                  </table>
                
            
                
                
            </form>
        </div>
        <div class="fusszeile">
            &copy; 2022 GW21A
        </div>
    </div>
</body>
</html>