<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27 - Nutzungsbedingungen</title>
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>N27 - Nutzungsbedingungen</h1>            
        </div>
        <div class="navigationsleiste">
            <div class="tooltip">
            <a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i> </a> 
            <span class="tooltiptext">Home</span>
        </div>
             -
            <div class="tooltip">
                <a href="/about"><i class="fa fa-info fa-2x" aria-hidden="true"></i> </a> 
                <span class="tooltiptext">Über uns</span>
            </div>
            
             - 
             <div class="tooltip">
                <a href="/profil"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a>
                <span class="tooltiptext">Konto</span>
            </div>
            
             - 
             <div class="tooltip">
                <a href="/support"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i> </a> 
                <span class="tooltiptext">Support</span>
            </div>
            
            - 
             <div class="tooltip">
                <a href="/login"><i class="fa fa-sign-out fa-2x"></i></a>
                <span class="tooltiptext">Ausloggen</span>
            </div>   
        </div>
        
        <div class="inhaltsbereich">
       
            <h1>Nutzungsbedingungen</h1>

            <p>Willkommen bei unserer Online-Bank. Bitte lesen Sie die folgenden Nutzungsbedingungen sorgfältig durch, bevor Sie unsere Dienstleistungen nutzen.</p>
        
            <h2>1. Allgemeines</h2>
            <p>Indem Sie unsere Dienstleistungen nutzen, stimmen Sie diesen Nutzungsbedingungen zu. Bei Fragen stehen wir Ihnen gerne zur Verfügung.</p>
        
            <h2>2. Kontoeröffnung</h2>
            <p>Die Eröffnung eines Kontos erfordert die Bereitstellung aller erforderlichen Unterlagen. Folgen Sie den Anweisungen sorgfältig, um Verzögerungen zu vermeiden.</p>
        
            <h2>3. Sicherheit</h2>
            <p>Die Sicherheit Ihres Kontos liegt in Ihrer Verantwortung. Schützen Sie Ihre Zugangsdaten und informieren Sie uns umgehend über verdächtige Aktivitäten.</p>
        
            <h2>4. Haftungsausschluss</h2>
            <p>Wir übernehmen keine Haftung für Verluste oder Schäden, die sich aus der Nutzung unserer Dienstleistungen ergeben. Bitte informieren Sie sich über unsere Sicherheitsrichtlinien.</p>
        
            <h2>5. Änderungen der Nutzungsbedingungen</h2>
            <p>Wir behalten uns das Recht vor, diese Nutzungsbedingungen jederzeit zu ändern. Benachrichtigungen über Änderungen werden auf unserer Website veröffentlicht. Überprüfen Sie regelmäßig auf Aktualisierungen.</p>
        
            <h2>6. Kontakt</h2>
            <p>Bei Fragen oder Anliegen können Sie uns über die folgenden Kontaktinformationen erreichen:</p>
        
            <p>Telefon: +12 3456 789</p>
            <p>Email: info@n27.de</p>
        
            <form>
                <button class="nutzungsbedingungen" formaction="/"> <i class="fa fa-file-text-o" aria-hidden="true"></i> Nutzungsbedingungen Aktzebtieren</button>
            </form>

            

        </div>
        <div class="fusszeile">
            &copy; 2023 GW21A
        </div>
    </div>
</body>
</html>
