<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27 - Profil</title>
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>N27 - Profil</h1>            
        </div>
        <div class="navigationsleiste">
            <a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i> </a> 
            -
            <a href="/about"><i class="fa fa-info fa-2x" aria-hidden="true"></i> </a> 
             - 
            <a href="/profil"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a>
             - 
            <a href="/login"><i class="fa fa-sign-out fa-2x"></i></a>
            
            
        </div>
        <div class="inhaltsbereich"> 
            
            <form method="post">
                <label1 for="fname">Vorname:</label><br>
                <input class="meldung1" readonly value=<%= vorname %> <br><br>
                <label1 for="lname">Nachname:</label><br>
                <input class="meldung1" readonly value=<%= nachname %> <br><br> 
                <label1 for="lname"> Email:</label><br>
                <input type="email" name="mail" class="meldung1" value=<%= mail %> <br><br> 
                <label1 for="lname"> Telefon:</label><br>
                <input type="tel" class="meldung1" value=<%= telefon %> > <br><br>     
                <button class="save" formaction="/profil">Speichern</button>
            </form>
           
        </div>
        <div class="fusszeile">
            &copy; 2022 GW21A
        </div>
    </div>
</body>
</html>
