<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>N27</title>
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>Überweisen</h1>            
        </div>
        <div class="navigationsleiste">
            <div class="tooltip">
            <a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i> </a> 
            <span class="tooltiptext">Home</span>
        </div>
             -
            <div class="tooltip">
                <a href="/about"><i class="fa fa-info fa-2x" aria-hidden="true"></i> </a> 
                <span class="tooltiptext">Über uns</span>
            </div>
            
             - 
             <div class="tooltip">
                <a href="/profil"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a>
                <span class="tooltiptext">Konto</span>
            </div>
            
            
             - 
             <div class="tooltip">
                <a href="/support"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i> </a> 
                <span class="tooltiptext">Support</span>
            </div>

            -
             <div class="tooltip">
                <a href="/login"><i class="fa fa-sign-out fa-2x"></i></a>
                <span class="tooltiptext">Ausloggen</span>
            </div>   
        </div>
        <div class="inhaltsbereich">
        <form method="post">
            <label1 for="fname">Absender-Iban:</label><br>

                <select class="meldung1" id="iban" name="AbsenderIban">
                <% for (var i=0; i < MeineIbans.length ;i++){ %>
                    <option value="<%= MeineIbans [i].iban %>"> <%= MeineIbans [i].iban %> </option>
                <% } %> 
                </select>
            <label1 for="fname">Empfänger:</label><br>
                <input name="Empfaenger" type="text" class="meldung1"> <br>
            <label1 for="fname">Betrag:</label><br>
            <input name="Betrag" type="number" class="meldung1">  <br> 

            <label1 for="fname">Absendername:</label><br>
            <input name="name" type="text" class="meldung1">  <br>

            <label1 for="fname">Verwendungszweck:</label><br>
            <input name="Verwendungszweck" type="text" class="meldung1">  <br>
            
            <button class="save" formaction="/ueberweisenTaetigen" ><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Überweisen </button>
        </form>
        <p class="meldung2"> <%=Erfolgsmeldung%></p>
        </div>
        <div class="fusszeile">
            &copy; 2022 GW21A
        </div>
    </div>
</body>
</html>