/* Lukas Kolberg */

body{
    font-family: 'Courier New', Courier, monospace;
    color: greenyellow;
    font-size: x-small;
    
}
h1{
 size: 1;
}
h2{
size: 2;
}
table{
    background-color: lavender;
}
button{
    color: hotpink;
    background-color: khaki;
    border-radius: 10%;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
hr{
border: solid #00ffff 3px;
background-color: #0000ff;
height: 10px;
width: 50px;
}